<style>
    ul.dashed { list-style-type: none; }
    ul.dashed > li { text-indent: -5px; }
    ul.dashed > li:before { content: "-"; margin-right: 5px; text-indent: -5px; }
</style>
<div>
    <h2>Exercise Description</h2>
    The exercise is composed by two parts:
    <ol type="a">
        <li>frontend application (SPA);</li>
        <li>backend application;</li>
    </ol>
    Some non-functional requirements:
    <ul class="dashed">
        <li>All the code must be written in TypeScript.</li>
        <li>You’re free to apply any patterns, methodologies and styling languages.</li>
        <li>Frontend should be made using Angular Framework, but you can also use other
            frameworks if you feel more comfortable</li>
        <li>Backend should run on Node.js JavaScript runtime 12+.</li>
    </ul>

    You will be creating 1 mandatory page with a couple of interactive widgets.<br /><br />

    <h2>How to deliver the exercise</h2>
    <ol type="1">
        <li>Create a project on your GitHub account</li>
        <li>Bootstrap your foundation framework</li>
        <li>Create a branch with your name (ex: feat/john-doe)</li>
        <li>Develop under that branch</li>
        <li>Submit a Pull Request on your Repo</li>
        <li>Send us an email with your Repo</li>
    </ol>
    <h2>...</h2>
    <h2>...</h2>
</div>