$primary: rgb(6, 175, 0);
$secondary: rgb(98, 0, 255);
$grey: rgb(90, 90, 90);

$breakpoint-small: 400px;

div {
  padding: 10px 20px;
  width: fit-content;
  font-weight: normal;
  color: $grey;
  text-transform: uppercase;
  border: 1px solid $grey;
  border-radius: 4px;

  > span {
    color: black;
    font-weight: bold;
  }
}
